.form__container {
    width: 100%;
    min-height: 35vh;
    background-color: var(--white-primary);
    color: var(--black-primary);
    font-size: 1rem;
    padding: .5em;
    overflow-y: auto;
    box-shadow: 0px 3px 25px -20px rgba(0,0,0,0.75);
    background-image: url('../../../assets/img/wave_qr.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form__title {
    padding: 0 1em;
    color: var(--white-primary);
    font-family: 'DynaPuff', cursive;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    padding: 0 1em;
}

.input__form {
    width: 100%;
    padding: .4em;
    border-radius: 4px;
    background-color: var(--gray-prmary);
    resize: none;
}

.input__form::placeholder {
    color: var(--placeholder-primary);
}

.btn {
    cursor: default;
    width: 100%;
    background: #FF8008;  
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008); 
    background: linear-gradient(to right, #FFC837, #FF8008); 
    padding: .7em .6em;
    border-radius: 6px;
    font-size: 1.1rem;
    letter-spacing: .05rem;
    transition: .3s;
    font-weight: 600;
    color: var(--white-primary);
}

.btn:hover {
    opacity: .9;
    transition: .3s;
}

.posts {
    width: 100%;
    height: 70vh;
    gap: 2em;
    padding: 1em;
    overflow-y: auto;
    background-color: var(--gray-prmary);
}