.main {
    // padding: 1em 0;
    position: relative;
    background-image: url('../../../assets/img/wave_profile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: space-between;
    padding-top: 2em;
    // margin-top: 1em;
}

.profile__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px var(--orange-primary) solid;
}

.profile__data {
    text-align: center;
}

.profile__name {
    font-family: 'DynaPuff', cursive;
    background: #FF8008; 
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008); 
    background: linear-gradient(to right, #FFC837, #FF8008); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.profile__email {
    font-size: 1.2rem;
}