:root {
  --dark-bg: rgba(0, 0, 0, .40);
  --white-primary: #FAFAFA;
  --black-primary: #121212;
  --gray-prmary: #EEEEEE;
  --placeholder-primary: #8491A1;
  --link-primary: #5873AC;
  --invalid-color: #FF1E1E;
  --invalid-bg: #FAB7B7;
  --orange-primary: #FF8008;
}