.main {
    background-image: url('../../../assets/img/wave.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    padding: 0 2em;
    text-align: center;
    min-height: 100vh;
}

.welcome__header {
    margin: 5em 0;
}

.welcome__title {
    letter-spacing: .1rem;
    line-height: 2rem;
    font-weight: 600;
    // font-style: italic;
    text-transform: capitalize;
    background: #FF8008; 
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008); 
    background: linear-gradient(to right, #FFC837, #FF8008); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: fadeInTB 1s linear;
}

.welcome__subtitle {
    animation: fadeIn 2s linear;
}

.btn {
    text-decoration: none;
    display: block;
    cursor: default;
    width: 100%;
    background: #FF8008;  
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008); 
    background: linear-gradient(to right, #FFC837, #FF8008); 
    padding: 1em 1.2em;
    border-radius: 6px;
    font-size: 1.1rem;
    letter-spacing: .05rem;
    transition: .3s;
    font-weight: 600;
    margin: 1em auto;
    color: var(--white-primary);
}

.btn:hover {
    opacity: .9;
    transition: .3s;
}

@keyframes fadeInTB {
    0% {
        opacity: 0;
        transform: translateY(200%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


